access_key          = "{{ terraform[env].access_key }}"
cluster_name        = "{{ terraform[env].cluster_name }}"
grafana_pwd         = "{{ terraform[env].grafana_pwd }}"
instance_type       = "{{ terraform[env].instance_type }}"
workers_number      = "{{ terraform[env].workers_number }}"
region              = "{{ terraform[env].region }}"
secret_key          = "{{ terraform[env].secret_key }}"
